
<div class="wrapper_hero">
    <%- include('menu.ejs') %>
        <div class="tracking_h1">
            <h1>Package Details</h1>
            <div class="dates">
                <p class="text">Expected Delivery Date</p>
                <p class="d_date"><%= packag.receiverDetails.expectedDeliveryDate.toDateString() %> </p>
            </div>
            
        </div>

</div>
<div class="trackingWrapper pt-5">
    <div class="container">
        <div id="package-details">
            <div class="row">
                <div class="col-md-7">

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">PACKAGE DETAILS</h5>
                            <table class="table table-borderless">
                                <tr>
                                    <td class="table_width">
                                        <p class="card-text fw-bold">Product Name: </p>
                                    </td>
                                    <td><span class="text-capitalize">
                                            <%= packag.receiverDetails.productName %>
                                        </span> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="card-text fw-bold">Product Description: </p>
                                    </td>
                                    <td><span class="text-capitalize">
                                        <%= packag.receiverDetails.productDetails %>
                                        </span> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="card-text fw-bold">Reference Number: </p>
                                    </td>
                                    <td><span class="text-capitalize">
                                            <%= packag.receiverDetails.referenceNumber %>
                                        </span> 
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">SENDER DETAILS</h5>
                                <table class="table table-borderless">
                                    <tr>
                                        <td class="w-25">
                                            <p class="card-text fw-bold">First Name: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.senderDetails.firstName %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Last Name: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.senderDetails.lastName %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Email: </p>
                                        </td>
                                        <td><span>
                                                <%= packag.senderDetails.email %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Phone Number: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.senderDetails.phoneNumber %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Address: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.senderDetails.address %>
                                            </span> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">RECEIVER DETAILS</h5>
                                <table class="table table-borderless">
                                    <tr>
                                        <td class="table_width">
                                            <p class="card-text fw-bold">First Name: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.receiverDetails.firstName %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Last Name: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.receiverDetails.lastName %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Email: </p>
                                        </td>
                                        <td><span>
                                                <%= packag.receiverDetails.email %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Phone Number: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.receiverDetails.phoneNumber %>
                                            </span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="card-text fw-bold">Destination Address: </p>
                                        </td>
                                        <td><span class="text-capitalize">
                                                <%= packag.receiverDetails.destinationAddress %>
                                            </span> 
                                        </td>
                                    </tr>
                                   
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h2>Transit History</h2>
                       

                        <ul class="transit-history-list">
                            <% packag.transitHistory.forEach(history => { %>
                                <li class="transit-history-item">
                                    <div class="status">
                                        <span class="status-label">Status:</span>
                                        <span class="status-value"><%= history.status %></span>
                                    </div>
                                    <div class="date">
                                        <span class="date-label">Date:</span>
                                        <span class="date-value"><%= history.date.toUTCString() %></span>
                                    </div>
                                    <div class="comment">
                                        <span class="comment-label ">Message:</span>
                                        <span class="comment-value text-success fw-bold"><%= history.comment %></span>
                                    </div>
                                    <div class="location">
                                        <span class="location-label">Location:</span>
                                        <span class="location-value"><%= history.location %></span>
                                    </div>
                                    
                                </li>
                            <% }) %>
                        </ul>
                        
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>
<div class="footer">
    <div class="row p-5">
        <div class="col-md-4 d-flex align-items-center px-5">
            <img src="/images/log2.png" alt="logo" width="250px" height="auto">
        </div>
        <div class="col-md-4 footer_middle">
            <div class="contact_footer text-white">
                <h1 class="text-uppercase">Contact Us</h1>
                <h4 class="text-capitalize">Have a question? We'd love to hear from you.</h4>
               
                <span><i class="fa-solid fa-address-book pe-"></i> Bağlar, Mimar Sinan Cd No:46, 34209 Bağcılar/İstanbul, Türkiye 🇹🇷</span>
                <span><i class="fa-solid fa-envelope pe-1"></i> info@crossborderlogisticsinc.com</span>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center footer_last">
            <div class="contact_footer text-white">
                <h1 class="text-uppercase">Services</h1>
                <span><i class="fa-solid fa-ship pe-1"></i> Ocean Freight Services</span>
                <span><i class="fa-solid fa-plane-departure pe-1"></i> Air Freight & Courier Services</span>
                <span><i class="fa-solid fa-truck-fast pe-1"></i> Road Freight Services</span>
            </div>
        </div>
    </div>
</div>
<div class="copyright text-white text-center">
    <p>All rights reserved. copyright &copy; 1999. Cross Border Logistics Inc</p>
</div>